Importo librerias y leo el Dataset

In [92]:
import pandas as pd
df = pd.read_excel("Datasets/AircraftArgentina.xlsx")

Observo el dataframe y elimino columnas que no necesito en mi analisis

In [93]:
df.head()

,date,type,registration,operator,fat.,location,Unnamed: 6,pic,cat
0,21-APR-2023,Beech 200 Super King Air,LV-WPM,Flytec SA,0,Salta-Martín Mi...,NaN,NaN,A2
1,2023-02-16 00:00:00,Cessna 208 Cargomaster,CX-MAX,Aeromás,0,"near Berisso, BA",NaN,NaN,A1
2,2022-07-01 00:00:00,Learjet 35A,LV-BPA,Flying America,4,Río Grande-Gobe...,NaN,NaN,A1
3,2022-02-11 00:00:00,Cessna 501 Citation I/SP,LV-JUO,Aviajet SA,0,Morón-Ituzaingo...,NaN,NaN,A2
4,2020-11-05 00:00:00,Fairchild SA227-AC Metro III,LV-VDJ,Dos Mil Aerosistema SA,0,Mendoza-El Plume...,NaN,NaN,A2

In [94]:
df.drop("pic",axis="columns",inplace=True)
df.drop("cat",axis="columns",inplace=True)
df.drop("Unnamed: 6",axis="columns",inplace=True)
df.drop("type",axis="columns",inplace=True)
df.drop("registration",axis="columns",inplace=True)
df.drop("operator",axis="columns",inplace=True)

Corrijo errores en las fechas

In [95]:
df.iloc[69, df.columns.get_loc('date')] = "01/01/1992"
df.iloc[122, df.columns.get_loc('date')] = "01/01/1971"
df.iloc[188, df.columns.get_loc('date')] = "01/01/1956"

Cambio de formato las fechas

In [96]:
df["date"] = pd.to_datetime(df["date"])
df["date"] = df["date"].dt.strftime("%d/%m/%Y")
df["date"] = pd.to_datetime(df["date"])

C:\Users\Matias\AppData\Local\Temp\ipykernel_12976\3713847380.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["date"] = pd.to_datetime(df["date"])

Obserbo los registros nulos y los elimino ya que no puedo determinar las fatalidades que es el objetivo de mi analisis

In [97]:
df.isnull().sum()

date         0
fat.        22
location     3
dtype: int64

In [98]:
mascara = df[df["fat."].isnull()]
df = df.drop(labels= mascara.index, axis=0)

Renombro columnas

In [99]:
df = df.rename(columns={'date': 'Fecha'})
df = df.rename(columns={'fat.': 'Muertes'})
df = df.rename(columns={'location': 'Ubicacion'})

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 0 to 249
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      228 non-null    datetime64[ns]
 1   Muertes    228 non-null    object
 2   Ubicacion  228 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.1+ KB

Exporto el archivo listo para el analisis

In [101]:
###### Finalmente terminado el EDA genero un nuevo csv limpio para el consumo del analisis en Power BI ######
df.to_csv("DataSets/AccidentesArg.csv",index=False)

In [102]:
import pandas as pd

data = {
    'Año': [2013, 2022, 2013, 2022],
    'País': ['Mundo', 'Mundo', 'Argentina', 'Argentina'],
    'Legislacion': [80.92, 76.47, 85.71, 68.18],
    'Organizacion': [74.65, 70.8, 90, 41.66],
    'Licencias': [83.45, 73.07, 91.78, 87.35],
    'OperacionesAereas': [70, 70.61, 90.24, 36.44],
    'Navegabilidad': [76.83, 83.08, 93.1, 56.86],
    'InvestigacionAccidentes': [58.76, 54.55, 97.75, 89.28],
    'ServiciosNavegacionAerea': [51.67, 65.21, 71.08, 37.7],
    'Aerodromos': [53, 70.22, 83.69, 70.22]
}

df1 = pd.DataFrame(data)

In [105]:
df1.to_csv("DataSets/DatosArg.csv",index=False)